
/** {
  border: 1px solid black;
}*/

#linkbar{
  position: fixed:
  top:10px;
  height: 30px;

}

#header{
  position:relative;
  background-color: white;

}

ul{
  list-style-type: none;
  position:fixed;
  margin:10px;
}

li{
  display:inline;
  color:gray;
  padding:5px;
}

a{
  text-decoration: none;
  color:gray;
}

#mainphoto{
  height:250px;
  background-image: url('https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-04/Normal-Mode/assets/background.jpg');
  background-size: cover;
  border: 1px solid dark gray;
}

#mainphoto p{
  text-align: center;
  padding-top: 100px;
  color:white;
  font-size: 20px
}

#leftmargin{
  width: 10%;
  float: left;
}

#rightmargin{
  width:10%;
  float:left;
}

#left{
  width:26.7%;
  float: left;
}

#center{
  width:26.6%;
  float:left;

}

#rigth{
  width: 26.7%;
  float: right;

}





/*div{
    background: white;
    position: fixed;
    z-index:99;
    height:50px;
}

ul{
    float: left;
    list-style: none;
  
}




li{
    float: left;
    
}

a{   
    text-decoration: none;
    display: inline-block;
    color: gray;
    font-size:20px;
    padding:0 10px;
 }*/

    





/*.main {
    height: 450px;
    background-image: url('https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-04/Normal-Mode/assets/background.jpg');
    border: 1px gray;
    background-size: cover;
    color: #000;
    position: relative;

    
    
}    
 
 .pictext{
    left:0;
    text-align: center;
    top: 200px;
    width: 100%;
    position: relative;
   */
   

    font-family: sans-serif;
    font-style: bold;
    font-size: 35px;
    color:white;
 }


#container{}
#container ul{list-style-type: none;
  padding:0;}

#container ul li{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid grey;
  padding-bottom: 5px;
  background-color: blue;

}


/*
.container{
    width: 100%;
    height: 30px;
    color: red;
}




/*
* {
  border: 1px solid black;
}

.BackgroundPic {
    border: 1px solid black;
    background:url(https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-04/Normal-Mode/assets/background.jpg);
    background-repeat: no-repeat;
    padding:0px;
}*/
/*.topbar{
    
    font-size: 17px;
    color: grey;
    width: 100%;
    height: 40px;
    padding:0;
    font-style: arial;

    
}
.home{
    font-weight: bold;
}

p.TopContain{
    text-align: center;
    font-size:50px;
    color: white;
}

}

.TopImage {
  height: 400px;
  background-image: url(https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-04/Normal-Mode/assets/background.jpg);
  background-size: 100%;
  border: 1px solid black;
  color: #000; 
}
*/
/*below is for 3 column layout model from stackverflow*/
/*img{
    width: 1280;
    height: 427;
}
.container {
    position: relative;
    width: 500px;
}
.container div {
    height: 300px;
    display: inline-block;
    padding: 10px 10px;
}

.column-left {
    width: 33%;
    left: 15%;
    background: #00F;
    float: left;
    p
}
.column-center {
    width: 34%;
    background: #933;
    margin-left: 15%;
    float:left;
}
.column-right {
    width: 33%;
    right: 15%;
    float: left;
    background: #999;
}*/